body{
	background:url(../img/bg_log.jpg);
	background-size:cover;
}
.content{
	background:rgba(82,165,209, 0.30);
	padding:5px 10px;
	margin-top:10px;
	box-shadow:0px 0px 5px 2px #fff;
	border-radius:6px;
	color:#fff;
}
.line{
	height:5px;
	background:#52a5d1;
	text-
}
